.finishPageContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--main_bg);
  padding: 16px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.finishPageContainer h1 {
  font-size: 1.5em;
  text-align: center;
}

.finishPageContainer h3 {
  font-size: 1em;
  text-align: center;

}

.finishPage {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.birdListContainer {
  margin: 16px;
  box-sizing: border-box;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow-y: auto;
  gap: 20px;
  max-width: 700px;
}

.birdEntry {
  background-color: var(--main_controls_bg);
  box-shadow: 0 0 10px 0 var(--shadow1);
  padding: 1em;
  border-radius: var(--search_border_radius);
  border: var(--main_bottom_top_border_sz) solid var(--main_bottom_top_border);
  box-sizing: border-box;
  width: calc(33% - 12px); /* For two columns layout */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.birdEntry h3 {
  font-size: 1em;
  margin-block: 0;
  margin-bottom: 0.3em;
}
.birdEntry p {
  font-size: 1em;
  margin: 0;
  margin-bottom: 1em;
}

.birdEntry .finishBirdImage {
  width: 100%;
  height: auto;
}

.finishTopBar {
  box-sizing: border-box;
  width: 100%;
  background-color: var(--main_top_bar_bg);
  box-shadow: 0 0 10px 0 var(--shadow1);
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--main_bottom_top_border_sz) solid
    var(--main_bottom_top_border);
}

.finishButton {
  color: var(--search_color);
  background-color: var(--search_bg);
  font-family: var(--font_family);
  border: var(--search_border_sz) solid var(--search_border);
  border-radius: var(--search_border_radius);
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
  display: inline-block;
  margin-top: 20px;
}

.finishButton:hover,
.finishButton:focus {
  background-color: var(--main_top_bar_bg); /* Change as needed */
  color: var(--main_controls_bg); /* Change as needed */
  border-color: var(--main_bottom_top_border); /* Change as needed */
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .finishButton {
    padding: 8px 16px;
    font-size: 14px;
  }
}

@media (max-width: 650px) {
  .birdListContainer {
    flex-wrap: wrap;
  }
  .birdEntry {
    width: calc(50% - 11px); /* For two columns layout */
  }
}

@media (max-width: 440px) {
  .birdEntry {
    width: calc(100%); /* For two columns layout */
  }
}