.mainPageContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--main_bg);
}

.mainPage {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.birdGrid {
  margin: 16px;
  box-sizing: border-box;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow-y: auto;
  gap: 20px;
  flex-grow: 1;
  max-width: 1000px;
}

.topBar {
  box-sizing: border-box;
  width: 100%;
  background-color: var(--main_top_bar_bg);
  box-shadow: 0 0 10px 0 var(--shadow1);
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 18px;
  align-items: center;
}

.controls {
  box-sizing: border-box;
  width: 100%;
  background-color: var(--main_controls_bg);
  box-shadow: 0 0 10px 0 var(--shadow1);
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.searchBar {
  color: var(--search_color);
  background-color: var(--search_bg);
  font-family: 'Poppins';
  flex-grow: 1;
  width: 100%;
  outline: none;
  border: var(--search_border_sz) solid var(--search_border);
  border-radius: var(--search_border_radius);
  box-sizing: border-box;
  padding: 4px 8px;
  max-width: 300px;
  min-width: 10em;
}

.searchBar::-webkit-input-placeholder {
  color: var(--search_placeholder);
  font-family: 'Poppins';
}
