.inputGroup h2, .inputGroupPostcode h2 {
  font-weight: normal;
  margin-block: 0;
  margin-bottom: 5px;
}

.inputGroupPostcode {
  position: relative;
  margin-bottom: 25px;
}

.inputGroupPostcode > .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.enterManuallyButton {
  cursor: pointer;
  margin-left: 18px;
  font-size: 1em;
  background-color: var(--manual_enter_bg);
  border: var(--manual_enter_border_sz) solid var(--manual_enter_border);
  border-radius: var(--button_border_radius);
  font-family: 'Poppins';
  padding: 3px 16px;
  margin-bottom: 5px;
  color: var(--manual_enter_color);
}

.inputGroupPostcode p {
  margin: 0;
  margin-bottom: 6px;
}

.addressList {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  height: 115px;
  box-sizing: border-box;
  transform: translateY(-7px);
}

.addressList button {
  cursor: pointer;
  width: 100%;
  color: var(--address_list_color);
  background-color: var(--address_list_bg);
  border: var(--address_list_border_sz) solid var(--address_list_border);
  border-top: none;
  outline: 0;
  padding: 5px;
  font-family: 'Poppins';
  font-size: 1em;
  box-sizing: border-box;
}

.addressList button:first-of-type {
  border-top: var(--address_list_border_sz) solid var(--address_list_border);
}

.addressList button:hover {
  background-color: var(--address_hover_bg);
}
