.birdTile {
  width: calc(25% - 20px);
}

.tileShadowContainer {
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  box-shadow: 0 0px 2px 0 var(--shadow2);
  overflow: hidden;
  background-color: var(--tile_bg);
  border: var(--tile_border_size) solid var(--tile_border);
}

.sexButtons {
  display: flex;
  justify-content: flex-end;
  gap: 2px;
}

.sexButtons > button {
  padding: 0 8px;
  font-size: 1em;
  font-family: 'Poppins';
  background-color: var(--tile_sex_bg);
  color: var(--text_dark1);
  border: none;
  outline: none;
  font-weight: bolder;
}

.sexButtons > button.selected {
  background-color: var(--tile_sex_bg_selected);
  color: var(--tile_sex_text_selected);
}

.sexButtons > button.greyed {
  font-weight: normal;
  background-color: transparent;
  color: transparent;
}

.birdThumbnailContainer {
  height: 130px;
  overflow: hidden;
  margin: 10px;
  border-radius: 2px;
  cursor: pointer;
}

.birdThumbnail {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.birdContent {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: var(--tile_content_bg);
  cursor: pointer;
}

.birdContent > p {
  color: var(--text_dark2);
  padding: 10px 15px;
  margin: 0;
  margin-block: 0;
  text-align: center;
}

.birdCount {
  background-color: var(--tile_count_bg);
  color:white;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  text-align: center;
}

@media only screen and (max-width: 850px) {
  .birdTile {
    width: calc(33% - 17px);
  }

  .birdThumbnailContainer {
    height: 130px;
  }
}

@media only screen and (max-width: 670px) {
  .birdTile {
    width: calc(50% - 18px);
  }
}

@media only screen and (max-width: 500px) {
  .birdThumbnailContainer {
    height: 100px;
  }
}

@media only screen and (max-width: 420px) {
  .birdTile {
    width: calc(100% - 18px);
    min-width: 200px;
  }

  .birdThumbnailContainer {
    height: 150px;
  }
}