.birdTile {
  width: calc(25% - 20px);
}

.tileShadowContainer {
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.birdThumbnailContainer {
  height: 130px;
  overflow: hidden;
  margin: 10px;
  border-radius: 2px;
}

.birdThumbnail {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.birdContent {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: white;
}

.birdContent > p {
  color: #333;
  padding: 10px 15px;
  margin: 0;
  margin-block: 0;
  text-align: center;
}

.birdCount {
  background-color: #037789;
  font-weight: bold;
  color:white;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0.8em;
  text-align: center;
}

@media only screen and (max-width: 850px) {
  .birdTile {
    width: calc(33% - 13px);
  }

  .birdThumbnailContainer {
    height: 130px;
  }
}

@media only screen and (max-width: 670px) {
  .birdTile {
    width: calc(50% - 13px);
  }
}

@media only screen and (max-width: 500px) {
  .birdThumbnailContainer {
    height: 100px;
  }
}

@media only screen and (max-width: 430px) {
  .birdContent > p {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 360px) {
  .birdTile {
    width: 100%;
    min-width: 200px;
  }

  .birdContent > p {
    font-size: 1em;
  }

  .birdThumbnailContainer {
    height: 130px;
  }
}