.reportOtherContainer {
  padding: 5px;
  overflow-y: auto;
}

.reportOtherContent {
  padding: 16px;
}

.reportOtherButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
  flex-wrap: nowrap;
}
