body {
  margin: 0;
}

@font-face {
  font-family: 'OpenDyslexic';
  src: local('OpenDyslexic'), url(../public/resources/OpenDyslexic3-Regular.ttf) format('truetype');
}

.App {
  margin: 0;
  font-family: var(--font_family);
  color: var(--text_dark);
}

.App-header {
  background-color: var(--header_bg);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 16px;
  width: 100%;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 5px 5px var(--shadow1);
  align-items: center;
  position: relative;
  z-index: 1000;
  flex-wrap: wrap;
}

.headerRightContainer {
  display: flex;
  gap: 0.5em;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.logoContainer {
  display: flex;
  justify-content: left;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.App-logo {
  max-width: 32px;
}

.App-title {
  font-weight: bolder;
  font-size: 1em;
}

.App-content {
  z-index: 1;
  width: 100%;
}

.App-button-primary {
  font-family: var(--font_family);
  border: none;
  background-color: var(--report_button_bg);
  color: var(--text_light);
  padding: 6px 15px;
  border-radius: var(--button_border_radius);
  font-size: 1em;
  cursor: pointer;
  border: var(--report_button_border_sz) solid var(--report_button_border);
}

.App-button-success {
  font-family: var(--font_family);
  border: none;
  background-color: var(--success_green);
  color: var(--text_dark2);
  padding: 6px 15px;
  border-radius: var(--button_border_radius);
  font-size: 1em;
  cursor: pointer;
  border: var(--success_green_border_sz) solid var(--success_green_border);
}

.App-button-neutral {
  font-family: var(--font_family);
  border: none;
  background-color: var(--grey1);
  color: var(--text_dark2);
  padding: 6px 15px;
  border-radius: var(--button_border_radius);
  font-size: 1em;
  cursor: pointer;
  border: var(--quit_border_sz) solid var(--negative_grey_border);
}

.notificationContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}
.notification {
  pointer-events: all;
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: var(--notification_bg);
  box-shadow: 0 3px 5px 4px var(--form_shadow);
  box-sizing: border-box;
  width: 600px;
  text-align: center;
  max-width: calc(100% - 2em);
  border: var(--notification_border_sz) solid var(--notification_border);
  animation: notification-transition 0.5s ease-in-out;
  border-radius: var(--notification_border_radius);
}
.notification .notificationTop {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0.25em;
  align-items: center;
}
.notification .notificationText {
  font-size: 1.1em;
  color: var(--notification_color);
  padding: 1em;
  padding-top: 0;
}
.notification .timerText {
  color: var(--text_dark);
  padding: 0.5em;
  font-size: 1em;
}
.notification .closeButton {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 1000px;
  padding: 0.5em;
  color: var(--text_dark2);
  font-size: 1em;
  box-sizing: border-box;
}
.notification.hide {
  animation: notification-hide 0.5s ease-in-out;
}
@keyframes notification-transition {
  from { transform: translate(-50%, 200%); }
  to { transform: translate(-50%, 0); }
}
@keyframes notification-hide {
  from { transform: translate(-50%, 0); }
  to { transform: translate(-50%, 200%); }
}

.accessibilityButton {
  font-family: var(--font_family);
  border: none;
  background-color: var(--report_button_bg);
  color: var(--text_light);
  padding: 6px 15px;
  border-radius: var(--button_border_radius);
  font-size: 1em;
  cursor: pointer;
  border: var(--report_button_border_sz) solid var(--report_button_border);
}

.navigationContainer {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
  margin-right: 1em;
}
.navigationContainer a {
  text-decoration: none;
  font-size: 1em;
  font-family: var(--font_family);
  font-weight: bolder;
  color: var(--nav_color);
  background-color: var(--nav_bg);
  border: var(--nav_border_sz) solid var(--nav_border);
  padding: 6px 15px;
}
.navigationContainer .signout {
  font-size: 1em;
  font-family: var(--font_family);
  font-weight: bolder;
  color: var(--nav_color);
  background-color: var(--nav_bg);
  border: var(--nav_border_sz) solid var(--nav_border);
  padding: 6px 15px;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar_track);
  border-radius: var(--button_border_radius);
  border: var(--scrollbar_track_border_sz) solid var(--scrollbar_track_border);
}

::-webkit-scrollbar-thumb {
  border-radius: var(--button_border_radius);
  background: var(--scrollbar_thumb_bg);
  border: 1px solid var(--shadow1);
  box-shadow: 0 0 2px 0 var(--shadow2);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar_thumb_hover);
}