body {
  margin: 0;
}

.App {
  margin: 0;
  font-family: 'Poppins';
  color: #444;
  background-color: #f1f1f1;
  height: 100vh;
}

.App-header {
  background-color: white;
  display: flex;
  justify-content: left;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}

.App-logo {

}

.App-title {
  font-weight: bold;
}

.App-content {
  padding: 20px 15px;
}
