body {
  margin: 0;
}

.App {
  margin: 0;
  font-family: 'Poppins';
  color: var(--text_dark);
}

.App-header {
  background-color: var(--header_bg);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 16px;
  width: 100%;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 5px 5px var(--shadow1);
  align-items: center;
  position: relative;
  z-index: 1000;
}

.logoContainer {
  display: flex;
  justify-content: left;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.App-logo {
  max-width: 32px;
}

.App-title {
  font-weight: bold;
  font-size: 1em;
}

.App-content {
  z-index: 1;
  width: 100%;
}

.App-button-primary {
  font-family: 'Poppins';
  outline: none;
  border: none;
  background-color: var(--report_button_bg);
  color: var(--text_light);
  padding: 6px 15px;
  border-radius: var(--button_border_radius);
  font-size: 1em;
  cursor: pointer;
  border: var(--report_button_border_sz) solid var(--report_button_border);
}

.App-button-success {
  font-family: 'Poppins';
  outline: none;
  border: none;
  background-color: var(--success_green);
  color: var(--text_dark2);
  padding: 6px 15px;
  border-radius: var(--button_border_radius);
  font-size: 1em;
  cursor: pointer;
  border: var(--success_green_border_sz) solid var(--success_green_border);
}

.App-button-neutral {
  font-family: 'Poppins';
  outline: none;
  border: none;
  background-color: var(--grey1);
  color: var(--text_dark2);
  padding: 6px 15px;
  border-radius: var(--button_border_radius);
  font-size: 1em;
  cursor: pointer;
  border: var(--quit_border_sz) solid var(--negative_grey_border);
}

.accessibilityButton {
  font-family: 'Poppins';
  outline: none;
  border: none;
  background-color: var(--report_button_bg);
  color: var(--text_light);
  padding: 6px 15px;
  border-radius: var(--button_border_radius);
  font-size: 1em;
  cursor: pointer;
  border: var(--report_button_border_sz) solid var(--report_button_border);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar_track);
  border-radius: var(--button_border_radius);
  border: var(--scrollbar_track_border_sz) solid var(--scrollbar_track_border);
}

::-webkit-scrollbar-thumb {
  border-radius: var(--button_border_radius);
  background: var(--scrollbar_thumb_bg);
  border: 1px solid var(--shadow1);
  box-shadow: 0 0 2px 0 var(--shadow2);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar_thumb_hover);
}